<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav class="navbar navbar-light bg-light mb-3">
        <a class="navbar-brand">Simple AirBnB</a>
        <form class="form-inline">
          <button class="btn btn-outline-primary my-2 my-sm-0 mr-3" type="submit"><%= link_to 'Home', flats_path %></button>
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><%= link_to 'Add a Flat', new_flat_path %></button>
        </form>
      </nav>

    <%= yield %>
  </body>
</html>
